@import url("backdrop.css");
@import url("bottombar.css");
@import url("modal.css");
@import url("context.css");

body {
	padding-top: 4em;
}

.eyeota-progress {
    width: 30%;
    left: 35%;
    position: absolute;
    height: 40px;
}