
.bottombar {
  z-index: 1040;
  position: fixed;
  left: 10%;
  right: 10%;
  height: 20%;
  top: 80%;
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
}

.bottombar.ng-hide {
  top: 100%;
}

.bottombar.ng-hide-add,
.bottombar.ng-hide-remove {

  /* this needs to be here to make it visible during the animation
     since the .ng-hide class is already on the element rendering
     it as hidden. */
  display:block!important;
}

.bottombar .bottombar-header:hover {
}


.bottombar .bottombar-header {
  background-color: #61D2D6;
  height: 10em;
  clear: both;
  padding: 2em;
  border-top-left-radius:25px;
  border-top-right-radius:25px;
  border:1px solid #4c9699;
}

.bottombar .bottombar-content {
  background-color: #EDE5E2;
}

.bottombar.focus-add,
.bottombar.focus-remove {
  transition: all 0.5s ease-in-out;
}

.bottombar.focus-add {
  position: absolute;
  top: 80%;
  height: 20%;
}

.bottombar.focus-add-active {
  position: absolute;
  top: 80%;
  height: 80%;
}

.bottombar.focus-remove {
  position: absolute;
  top: 80%;
  height: 80%;
}

.bottombar.focus-remove-active {
  position: absolute;
  top: 80%;
  height: 20%;
}

.bottombar.focus {
  position: absolute;
  top: 20%;
  height: inherit;
}
