<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="collapse navbar-collapse">
		<ul class="nav navbar-nav">
			<li><a ui-sref="app">Home</a></li>
			<li><a ui-sref="app.reports">Report list</a></li>
			<li><a ui-sref="app.reports.view({reportid: 'ompalompa'})">View a report</a></li>
			<li><a ui-sref="app.reports.edit({reportid: 'ompalompa'})">Create or edit a report</a></li>
			<li><a ui-sref="app.reports.edit.edit-filter({reportid: 'ompalompa', filterid: 'flonkie'})">Create or edit a report filter</a></li>
		</ul>
	</div>
</nav>
