<div class="modal-header">
    <h3>Viewing a report</h3>
</div>
<div class="modal-body">
   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, id, porro? Aliquid atque consectetur exercitationem facere maiores praesentium suscipit, voluptates! Ab asperiores aut cumque dignissimos eos magnam non porro voluptate.
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
